//Color de referencia hsla(352,100%,48%, 1)
//Color de referencia traje hsla(229,88%, 23%, 1)
$main-color: hsla(352, 20%, 15%, 1);
$backgroundBody: hsla(352,100%,15%, 0.2);
$backgroundCajas: hsla(352,100%, 10%, 0.9);

$traje: hsla(229,88%, 90%, 1);
$trajeS: hsla(229,88%, 23%, 1);