@font-face {
    font-family: 'Lobster';
    font-weight: 400;
    src: url(../../fonts/Lobster-Regular.ttf);
  }
  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../../fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: url(../../fonts/Ubuntu-Regular.ttf);
  }